$font-stack: Helvetica, sans-serif;
$primary-color: #F5F5F5;
$secondary-color: #FF8282;
$page-bg: #EBEBEB;
$nav-height: 68px;

#signup-form {

}

#login-form, #signup-form {
  h1 {
    margin-bottom: 30px; 
  }

  input, button {
    margin-bottom: 25px;
    width: 300px;
    display: block;
    padding: 10px;
  }
}

.switchLoginSignupView {
  cursor: pointer;
  color: $primary-color;
  border-bottom: 2px dotted $primary-color;
}