<div class="view-container">
  <div id="dashboard-sidebar">
    <div id="filter-campaigns">
      <h3>Welcome to Clickaroos!</h3>
      <ul id="select-campaign">
        <li>We're an email-marketing tool that lets you easily A/B test images.</li>
        <li class="active">Let's get started by signing up or logging in.</li>
      </ul>
    </div>
  </div>
  <div id="content">
    <!-- Q: Switch login and signup to their respective folders and html files? -->

    <!-- Login -->
    <div id="login-form" ng-if="loginView">
      <form name="login" ng-submit="submitLogin(user)">
      <h1>LOGIN</h1>
        <label for="username-input">Username: </label>
        <input id="username-input" type="text" name="username" ng-model="user.username"></input>

        <label for="password-input">Password: </label>
        <input id="password-input" type="password" name="password" ng-model="user.password"></input>
        <button class="btn btn-info" type="submit" name="login">Login<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="loading.login"></i></button>
      </form>
      <p>Don't have an account?   <span class="switchLoginSignupView" ng-click="switchLoginSignupView()">Sign up.</span></p>
    </div>

    <div id="signup-form" ng-if="!loginView">
      <!-- Signup -->
      <h1>SIGNUP</h1>
      <form name="signup" ng-submit="submitSignup(user)">
        <label for="username">Username: </label>
        <input id="username-input" type="text" name="username" ng-model="user.username"></input>
        <label for="password-input">Password: </label>
        <input id="password-input" type="password" name="password" ng-model="user.password"></input>
        <button class="btn btn-info" type="submit" name="signup">Sign Up<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="loading.signup"></i></button>
      </form>
      <p>Already have an account?   <span class="switchLoginSignupView" ng-click="switchLoginSignupView()">Login.</span></p>
    </div>

  </div>
</div>
