ab_test.html

<h1>A/B Test Title</h1>
<input type="text" ng-model="abTestTitle"></input>

<h1>Images</h1>

<!-- ng-file-upload -->
<div>
  <input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">
  <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
  <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"
        ng-show="dropSupported" style="height: 150px; width: 300px; text-align: center; border: 3px dashed gray; margin: 20px;">Or, drag drop files here.</div>
  <div ng-file-drop-available="dropSupported=true" 
        ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
  <button ng-click="upload.abort()">Cancel Upload</button>
</div>

<form>
  <div ng-repeat="imageAndReroute in imagesAndReroutes">
    <p>
    <img style="width: 100px;" ng-src="{{ imageAndReroute.imageUrl }}" />
    <input type="text" placeholder="http://rerouting-url-here" ng-model="imageAndReroute.rerouteUrl" />
    </p>
  </div>

  <!-- <button ng-click="addImageAndReroute()">Add image</button> -->

  <hr>

  <h1>Logic</h1>

  <h4>A/B testing start time:</h4>

  <!-- Angular/Bootstrap Timepicker Directive -->
  <div>

    <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>

    <pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre>

    <div class="row"> 
      <div class="col-xs-6">
          Hours step is:
        <select class="form-control" ng-model="hstep" ng-options="opt for opt in options.hstep"></select>
      </div>
      <div class="col-xs-6">
          Minutes step is:
        <select class="form-control" ng-model="mstep" ng-options="opt for opt in options.mstep"></select>
      </div>
    </div>

    <hr>

    <button class="btn btn-info" ng-click="toggleMode()">12H / 24H</button>
    <button class="btn btn-default" ng-click="update()">Set to 14:00</button>
    <button class="btn btn-danger" ng-click="clear()">Clear</button>

  </div>
  <!-- End Angular/Bootstrap Timepicker Directive -->

  <h4>Hours after start when A/B testing ends:</h4>
  <input type="number" ng-model="time.hoursAfterStart"></input> Hours

  <hr>

  <!-- Using ng-click because ng-submit considers button clicks as submits, and there are buttons littered throughout the HTML -->
  <input type="submit" ng-click="submitImagesAndReroutes(imagesAndReroutes)"></input>

</form>

<!-- TODO: swap out dummy routes with real routes -->
<a ui-sref="dummy-campaign">Add AB test (for rerouting purposes only)</a>