$font-stack: Helvetica, sans-serif;
$primary-color: #F5F5F5;
$secondary-color: #FF8282;
$page-bg: #EBEBEB;
$nav-height: 68px;

.switchLoginSignupView {
  cursor: pointer;
  color: $secondary-color;
  border-bottom: 2px dotted $secondary-color;
}