<div class="view-container">

  <div id="dashboard-sidebar">
    <div id="client-logo">
      <img src="http://dummyimage.com/240x160/3d3d3d/ffffff&text=client+logo" alt="">
      <!-- <img src="http://dummyimage.com/240x150/19c6ff/fff.png" alt=""> -->
    </div>
    <!-- <div id="user-details">
      Julie Smith
    </div> -->
    <div id="filter-campaigns">
      <h3>Recent Reports:</h3>
      <ul id="select-campaign">
        <li>Fall Campaign</li>
        <li class="active">30% Off Sale</li>
        <li>Another Campaign</li>
        <li>One More Campaign</li>
        <li ng-click="getRecentCampaigns()">Aggregate</li>
      </ul>
    </div>
  </div>
  <div id="dashboard-content">
    <div id="dashboard-reports">
      <h1>DASHBOARD<span> / 30% Off Sale</span></h1>
      <div height="1000" width="1000">
      <canvas device-doughnut-directive ng-model="data" chart-options="options"  auto-legend></canvas>
      </div>
    </div>
  </div>
</div>