<div class="view-container">

  <div id="dashboard-sidebar">
    <div id="client-logo">
      <img src="assets/images/groupoff.png" alt="">
      <!-- <img src="http://dummyimage.com/240x150/19c6ff/fff.png" alt=""> -->
    </div>
    <!-- <div id="user-details">
      Julie Smith
    </div> -->
    <div id="filter-campaigns">
      <h3>Recent Campaigns:</h3>
      <ul id="select-campaign">
        <a ng-repeat="campaign in recentCampaigns" ng-href="#/campaign/{{ campaign.campaign_id }}"><li>{{ campaign.campaign_title }}</li></a>
        <!-- <li ng-click="getRecentCampaigns()">Aggregate</li> -->
      </ul>
    </div>
  </div>
  <div id="dashboard-content">
    <div id="dashboard-reports">
      <!-- TODO: incorporate scope data for dynamic naming of campaigns -->
      <h1>REPORTS<span> / 30% Off Sale</span></h1>
      <!-- Row 1 of dashboard -->
      <div id="dashboard-stat-block-row" ng-model="data">
        <div class="stat-container">
          <div class="each-stat">
            <h3 class="">Opens</h3>
            <h4 class="">{{ data.campaign.analytics.rawData.opens.total }}</h4>
          </div>

          <div class="each-stat">
            <h3 class="">Clicks</h3>
            <h4 class="">{{ data.campaign.analytics.rawData.clicks.total }}</h4>
          </div>  

          <div class="each-stat">
            <h3 class="">CTR</h3>
            <h4 class="">{{ data.campaign.analytics.rawData.ctr * 100 }}%</h4>
          </div>
        </div>
      </div>
      
      <!-- Row 3 of dashboard -->
      <div id="time-chart" class="stat-container">
        <h3>Clicks & Opens per Time of Day</h3>
        <br />
        <canvas time-series-directive ng-model="data" options="options"></canvas>
        <div class="time-series-legend">
          <ul class="legend-list" style="list-style-type:none; margin-left: -13px">
            <li ng-repeat="type in data.campaign.analytics.rawData">
              <div style="float: left; margin-top: 10px">
                <span>{{ type.label }}<span>
                <span class="legend-swatch" style="display:inline-block;width:10px;height:10px;background-color:{{ type.color + '1)'}};"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>


      <!-- Row 2 of dashboard -->
      <div class="stat-container">

        <div class="dashboard-doughnut-container">
          <h2 class="dashboard-subheader">Client</h2>
          <canvas client-doughnut-directive ng-model="data" options="options"></canvas>
          <div class="doughnut-legend" ng-model="data">
            <ul class="legend-list" style="list-style-type:none">
              <li ng-repeat="client in data.campaign.analytics.email_client">
                <span>{{ client.label }}<span>:
                <span>{{ client.value }}</span>
                <div class="legend-swatch" style="width:10px;height:10px;background-color:{{ client.color }};"></div>
              </li>
            </ul>
          </div>
        </div>

        <div class="dashboard-doughnut-container">
          <h2 class="dashboard-subheader">Device</h2>
          <canvas device-doughnut-directive ng-model="data" options="options"></canvas>
          <div class="doughnut-legend" ng-model="data">
            <ul class="legend-list" style="list-style-type:none">
              <li ng-repeat="device in data.campaign.analytics.device">
                <span>{{ device.label }}<span>:
                <span>{{ device.value }}</span>
                <div class="legend-swatch" style="width:10px;height:10px;background-color:{{ device.color }};"></div>
              </li>
            </ul>
          </div>
        </div>

      </div> 

      


    </div>
  </div>
</div>