$font-stack: Helvetica, sans-serif;
$primary-color: #FFBC67;
$page-bg: #EBEBEB;
$nav-height: 68px;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #EBEBEB;
}

#container {
  /*height: 100%;*/
}

.settings-icon {
  font-size: 20px;
}

#settings-btn {
  background-color: #ADADAD;
  padding: 13px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 10px;
  transition: 0.3s;
  float: right;
}

#settings-btn:hover {
  background-color: #616161;
}