$font-stack: Helvetica, sans-serif;
$primary-color: #F5F5F5;
$secondary-color: #FFBC67;
$page-bg: #EBEBEB;
$nav-height: 58px;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #EBEBEB;
}

btn {
  font-family: 'Oswald', Helvetica, Arial;  
}

h3 {
  font-family: 'Oswald', Helvetica, Arial;
}

canvas {
 float: left;  
}

#view-container {
  height: 100%;
}

#top-nav {
  float: right;
  height: $nav-height;
}

#top-bar {
  position: fixed;
  background: #fff;
  width: 100%;
  height: $nav-height;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 2;
}

#clickaroos-logo {
  float: left;
}

.settings-icon {
  font-size: 20px;
}

.nav-btn {
  margin-right: 20px;
  margin-top: 12px;
  transition: 0.3s;
  float: right;
}

#settings-btn {
  background-color: #ADADAD;
  padding: 13px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 10px;
  transition: 0.3s;
  float: right;
}

#settings-btn:hover {
  background-color: #616161;
}

#content {
  padding: 30px;
  margin-left: 240px;
}

#content {
  h1 {
    padding: 0;
    margin: 0;
    color: #333;
    margin-bottom: 30px; 
    font-family: 'Oswald', Helvetica, Arial;
  }
  
  h1 span {
    font-weight: 100;
  }

  input {
    margin-bottom: 25px;
    width: 100%;
    display: block;
    padding: 10px;
  }

  label {
    margin-bottom: 10px;
  }

  input[type=submit] {
    width: 150px;
  }
}

#time-picker, #date-picker {
  /*float: left;*/
  /*width: 50%;*/
  input {
    margin-bottom: 0;
  }
}

.each-stat {
  width: 30%;
  /*padding-left: 25px;*/
  background: #fff;
  float: left;
  margin-right: 5%;
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 15px;
}

.stat-container {
  margin-top: 40px;
  font-family: Oswald;
  width: 100%;
  float: left;
}

.dashboard-doughnut-container {
  float: left;
  width: 48%;
  margin-right: 4%;
  background: #fff;
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.dashboard-doughnut-container:nth-last-child(1) {
  margin-right: 0;
}

.each-stat:nth-last-child(1) {
  margin-right: 0;
}

#time-chart {
  background: #fff;
  border-bottom: 2px solid #ddd;
  padding: 10px 30px 30px 30px;
}

.box100pc {
  background: #fff;
  border-bottom: 2px solid #ddd;
  padding: 10px 30px 30px 30px;
}

.AB-test-block {
  background: #F25F51;
  color: #fff;
  font-family: 'Oswald';
  font-size: 16px;
  font-weight: bold;
  padding: 25px;
  width: 80px;
  border-radius: 4px;
  float: left;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.35s;
}

.AB-test-block:hover {
  background: #F5CF32;
  transition: 0.35s;
}

.apps-list {
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
}
.apps-list li {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.generated-snippet-block {
  /*padding: 5px;*/
}

.generated-snippet-block xmp {
  word-wrap: break-word;
  font-size: 12px;
}
.AB-test-name {

}
.AB-test-info {
  margin-top: 20px;
  font-size: 15px;
}
.generated-snippet-block h4{
  font-family: 'Oswald';
  margin: 0;
  padding: 0;
}