$font-stack: Helvetica, sans-serif;
$primary-color: #F5F5F5;
$secondary-color: #FFBC67;
$page-bg: #EBEBEB;
$nav-height: 68px;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #EBEBEB;
}

#view-container {
  /*height: 100%;*/
}

#top-nav {
  float: right;
  height: 68px;
}

#top-bar {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 68px;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 2;
}

#clickaroos-logo {
  float: left;
}

.settings-icon {
  font-size: 20px;
}

#settings-btn {
  background-color: #ADADAD;
  padding: 13px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 10px;
  transition: 0.3s;
  float: right;
}

#settings-btn:hover {
  background-color: #616161;
}

#content {
  margin-top: 68px;
  padding: 30px;
  margin-left: 240px;

  h1 {
    padding: 0;
    margin: 0;
    color: #333;
  }
  
  h1 span {
    font-weight: 100;
  }
}