$font-stack: Helvetica, sans-serif;
$primary-color: #5bc0de;
$page-bg: #EBEBEB;
$nav-height: 68px;

.campaign-list {
  margin: auto;
  width: 78%;
  
  table {
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
  }

  table, th, td, tr {
    padding: 7px;
  }

  th {
    padding: 10px;
    background-color: $primary-color;
    font-family: 'Oswald', Helvetica, Sans-Serif;
    font-weight: normal;
    font-size: 1.1em;
    text-transform: uppercase;
    color: white;
  }

  tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.04);
  }
}


a, a:hover {
  color: black;
  text-decoration: none;
}


.campaign-name {
  font-weight: bold;
  width: 60%;
}

.campaign-time {
  width: 20%;
}

.filter-label {
  margin-right: 35px;
  float: left;
}

input.campaign-search {
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.1);
}
