
<!-- Filter -->

<!-- Table -->
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>

Filter by Campaign Name: <input type="text" ng-model="filterCampaignName"></input>

<table style="width:100%;">
  <th>Campaign Name</th>
  <th>Created At</th>
  <th>Last Modified</th>

  <tr ng-repeat="campaign in campaigns | filter: { campaign_title: filterCampaignName } | orderBy:'-modified_at'">
    <td><a ng-href="#/campaign/{{ campaign.campaign_id }}">{{ campaign.campaign_title }}</a></td>
    <td>{{ getDate(campaign.created_at) }}</td> 
    <td>{{ getDate(campaign.modified_at) }}</td>
  </tr>
</table>