
<!-- Filter -->

<!-- Table -->

<!--
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
-->
<div class="campaign-search">
  <div class="filter-label">Filter by Campaign Name:</div>
  <div>
    <input type="text" ng-model="filterCampaignName"></input>
  </div>
</div>
<table style="width:100%;">
  <th>Campaign Name</th>
  <th>Created At</th>
  <th>Last Modified</th>

  <tr ng-repeat="campaign in campaigns | filter: { campaign_title: filterCampaignName } | orderBy:'-modified_at'">
    <td class="campaign-name"><a ng-href="#/campaign/{{ campaign.campaign_id }}">{{ campaign.campaign_title }}</a></td>
    <!-- <td class="campaign-time">{{ getDate(campaign.created_at) }}</td>  -->
    <!-- <td class="campaign-time">{{ getDate(campaign.modified_at) }}</td> -->
    <td class="campaign-time">{{ campaign.created_at | date:'medium' }}</td> 
    <td class="campaign-time">{{ campaign.modified_at | date:'medium' }}</td>
  </tr>
</table>