/*$font-stack: Helvetica, sans-serif;
$primary-color: #5bc0de;
$page-bg: #EBEBEB;
$nav-height: 68px;*/

table{
  /*margin-top: 2%;*/
  margin-left: 5%;
}

th{
  font: bold;
  font-size: 20px;
}

tr > td {
  padding: 5px 0;
}

.campaign-name {
  width: 40%;
  font-size: 20px;
}

.campaign-time {
  width: 30%;
  font-size: 16px;
}

.campaign-search {
  font-size: 26px;
  font-style: italic;
  padding: 3% 5%;
  width: 80%;
}

.filter-label {
  margin-right: 35px;
  float: left;
}

.campaign-search input{

}

